export(.dummyze)
export(.orthoX)
export(BHS)
export(FWEminP)
export(NPC)
export(SOUP)
export(iterNPC)
export(rankingRule)
export(t2p)
exportClasses(PValueMat)
exportClasses(PermSpace)
exportClasses(RankResults)
exportClasses(SoupObject)
exportMethods(as.list)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
import(methods)
import(tensor)
